button{
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  background-color: #559055;
  width: auto;
  max-width: 120px;
  padding: 15px;
  margin-left: 500px;
  border-radius: 10px;
}
.hero{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 50px;
}
body{
  background-color: gray;
}